
<h2>Personenverwaltung</h2>
<p>
<%=link_to "Person hinzufügen", new_person_path, :class=>"btn"  %>
</p>
<table class="table table-hover">
	<% @people.each do |person| #sort_by(&:name). %>
		<tr>
			<td>
				<%=link_to person.name, person %> (<%=person.email %>)
				<ul>
					<% person.boards.each do |board| %>
						<li><%=board.name %></li>
					<% end %>
				</ul>
			</td>
			<td>
				<%= link_to "Bearbeiten", edit_person_path(person), :class=>"btn" %>
			</td>
		</tr>
	<% end %>
</table>
