<h1>Person hinzuf체gen</h1>

<%= form_for @person, :html => {:class => "form-horizontal"} do |f| %>
  <% if @person.errors.any? %>
    <div class="error_messages">
      <h2>Nicht vollst채ndig ausgef체llt</h2>
      <ul>
        <% for message in @person.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
		<%= f.label :name, "Name der Person", :class=>"control-label" %>
		<div class="controls">
			<%= f.text_field :name, :class=> "fullSizeBox"  %>
		</div>
  </div>
  <div class="control-group">
		<%= f.label :email, "E-Mail Adresse", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :email, :class=> "fullSizeBox"  %>
		</div>
  </div>
  <div class="control-group">
		<%= f.label :password, "Passwort", :class => "control-label" %>
		<div class="controls">
			<%= f.password_field :password, :class=> "fullSizeBox"  %>
		</div>
	</div>
  <div class="control-group">
		<%= f.label :password_confirmation, "Passwort wiederholen", :class => "control-label" %>
		<div class="controls">
			<%= f.password_field :password_confirmation, :class=> "fullSizeBox"  %>
		</div>
  </div>
  <div class="control-group">
		<div class="controls">
			<%= f.submit "Person hinzuf체gen", :class=>"btn btn-info" %>
		</div>
	</div>
<% end %>
