<h3><%=@resolution.title%></h3>
<small>Erstellt am: <%=@resolution.created_at.strftime("%A %d.%m.%Y")%></small>
<small>um: <%=@resolution.created_at.strftime("%H:%M Uhr")%></small>

<dl>
	<dt>Antrag</dt>
	<dd><%=@resolution.resolution_text%>
	<br /><br />
	</dd>
	<dt>Begr&uuml;ndung</dt>
	<dd><%=@resolution.reasons%><br/><br/><dd>
	<dt>Antragsteller</dt>
	<dd><%=@resolution.requestor%><br/><br/></dd>
	<dt>Abstimmungen</dt>
	<dd>
		<table class="table">
			<thead>
				<th>Person</th>
				<th>Abstimmung</th>
			</thead>
			<tbody>
				<% @resolution.votes.each do |otherVote| %> 
						<tr class="<%=bootstrap_tr_class_for_voting otherVote.voting %>">
							<td>
				 				<%	if otherVote.person == current_user %>
									<%=link_to otherVote.person.name, vote_path(otherVote.id) unless otherVote.person.nil? %>
								<% else %>
									<%=otherVote.person.name unless otherVote.person.nil? %>
								<% end %>
							</td>
							<td>
				 				<%	if otherVote.person == current_user %>
									<%=link_to german_word_for_vote(otherVote.voting), vote_path(otherVote.id) %>
								<% else %>
									<%=german_word_for_vote otherVote.voting %>
								<% end %>
								</td>
						</tr>
				<%	end %>
			</tbody>
		</table>
	</dd>
</dl>

