<h2><%=@board.name %></h2>
<table class="table table-hover">
		<tr>
			<td>
				<%=link_to @board.name, @board %>
				<ul>
					<% @board.persons.each do |person| %>
						<li><%=image_tag Gravatar.new(person.email).image_url, :size=>"18x18"%> <%=person.name%> (<%=person.email%>)</li>
					<% end %>
				</ul>
			</td>
			<% if logged_in? %>
				<td>
					<%= link_to "Bearbeiten", edit_board_path(@board), :class=>"btn" %>
				</td>
			<% end %>
		</tr>
</table>

<table class="table table-hover">
	<thead>
		<th>Umfrage</th>
		<th class="hidden-phone">Gremium</th>
		<th class="hidden-phone">Ergebnis</th>
		<th>Verhältnisse</th>
		<% if logged_in? %><th></th><% end %>
	</thead>
	<tbody>
		<% @board.resolutions.each do |resolution| %>
			<tr class="<%=bootstrap_tr_class_for_voting resolution.result%>">
				<td><%=link_to resolution.title, resolution%></td>
				<td class="hidden-phone"><%=resolution.board.name%></td>
				<td class="hidden-phone"><%=german_word_for_voting_result resolution.result%></td>
				<td>
					<%results = resolution.result_numbers%>
					<div class="progress">
						<div class="bar bar-success" style="width: <%=results[:yesQuorum]*100%>%;"></div>
						<div class="bar bar-info" style="width: <%=results[:abstentionQuorum]*100%>%;"></div>
						<div class="bar bar-danger" style="width: <%=results[:noQuorum]*100%>%;"></div>
					</div>
				</td>

				<% if logged_in? %>
					<td>
						<div class="btn-group">
						<%= link_to "Bearbeiten", edit_resolution_path(resolution), :class => "btn btn-small"%>
						<button class="btn dropdown-toggle btn-small" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu btn-small">
							<li><%= link_to "Anzeigen", resolution%></li>
							<li><%= link_to "Bearbeiten", edit_resolution_path(resolution)%></li>
							<li class="divider"></li>
							<li><%= link_to "Löschen", resolution, :confirm => "Bist du Sicher?", :method => :delete, :class => "btn btn-danger btn-mini" %></li>
						</ul>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
