<!DOCTYPE html>
<html lang="de">
<head>
  <title>Umlaufbeschluss</title>
  <%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= render partial: 'shared/nav' %>

	<div class="row-fluid show-grid">
		<div class="offset2 span8">
			<%= render partial: "shared/flash_messages", flash: flash %>
			<%= yield  %>
		</div>
		<div class="span1">
				<%= render partial: 'shared/sidebar' %>
		</div>
	</div>
	<hr/>
	<footer>Footer</footer>
</body>
</html>
